.navbar {
    display: flex;
    align-items: center;
    background-color: #0d0d1ae4;
    background-size: auto;
    padding: 10px 20px;
}

.navbar-title{
    color: White;
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
}