.navbar { 
    display: flex; 
    align-items: center; 
    background-color: #0d0d1a; 
    background-size: auto; 
    padding: 10px 20px; 
} 

.navbar-dev { 
    color: #5ed957; 
} 

.navbar-title{ 
    color: White; 
    font-size: 24px; 
    font-weight: bold; 
    margin-right: 20px; 
    font-family: 'Courier New', monospace;
}

.nav-logo {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    transform: translateY(5px);
    
}

.navbar-btn button {
    color: #c6c0b3;
    background-color: transparent;
    padding: 8px 16px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 14px;

    border: none;
    border-bottom: 2px solid transparent;

    transition: 
        color 0.3s ease,
        border-color 0.3s ease;
}

.navbar-btn button:hover {
    color: #5ed957;
}

.navbar-btn button.active {
    color: #5ed957;
    border-bottom-color: #5ed957;
}

.navbar-info{
    margin-left: auto;
    color: #aca9a9;
    font-size: 12px;
    font-family: 'Courier New', monospace;
    display: flex;
}

.nav-xp{
    font-size: 15px;
    font-family: monospace;
    letter-spacing: 0.5px;
    transform: translateY(10px);
}

.nav-star {
    width: 20px;
    height: 20px;
    padding: 0px 5px;
    transform: translateY(10px);
}

.avatar-btn {
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.nav-avatar {
    width: 52px;
    height: 40px;
    border-radius: 50%;
    display: block;
}

.nav-level{
    font-size: 17px;
    padding: 5px 10px;
    margin-left: 8px;
    margin-top: 6px;
}
.nav-xp-bar {
    font-size: 17px;
    padding: 5px 10px;
    margin-left: 8px;
    margin-top: 6px;
}
    